{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}Homepage Titel{% endblock %}

{%block content%}
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <form method="get" action="{% url 'artikel-suche' %}">
                <input type="text" name="q" placeholder="Artikel suchen..." required>
                <button type="submit">Suchen</button>
            </form> 
            <H1>Homepage</H1>
            <p>Hi {{ user.username }}!</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <H1>Homepage</H1>
            <p>You are not logged in</p>
            <p><a href="{% url 'login' %}">Login</a></p>
            <a href="{% url 'signup' %}">Signup</a>
        {% endblock %}
    {% endif %}
{%endblock%}


