{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'dist/base.css' %}" />
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col items-center bg-violet-300 space-y-4 px-4 py-8">
  <h1 class="font-bold text-3xl">Album Informationen</h1>
  <ul class="pt-10">
    <li>
      <strong>Titel:</strong> {{ album.title }}
    </li>
    <li>
      <strong>Künstler:</strong> {{ album.artist.name }}
    </li>
    <li>
      <strong>Veröffentlichungsdatum:</strong> {{ album.releaseDate }}
    </li>
    <li>
      <strong>Preis:</strong> {{ album.price }} €
    </li>
    <li>
      <strong>Durchschnittliche Bewertung:</strong> {{ album.average_rating|floatformat:1 }} ⭐
    </li>
    {% if album.cover %}
      <li>
        <strong>Cover:</strong><br />
        <img src="{{ album.cover.url }}" alt="Album Cover" style="max-width: 300px; height: auto;" />
      </li>
    {% endif %}
  </ul>
  <form method="get" action="{% url 'pdf' %}">
    {% csrf_token %}
    <input type="hidden" name="type" value="album" />
    <input type="hidden" name="id" value="{{ album.id }}" />
    <button class="italic underline hover:text-violet-700 cursor-pointer" type="submit">Download PDF</button>
  </form>
</div>
{% endblock %}
