{% extends 'home.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'dist/base.css' %}" />
{% endblock %}

{% block title %}
  Artikelsuche
{% endblock %}

{% block content %}
  <h1>Suchergebnisse für "{{ query }}"</h1>
  {% if artists or albums or tracks %}
    <h2>Künstler</h2>
    <ul>
      {% for artist in artists %}
        <li>{{ artist.name }} ({{ artist.genre }}) ({{ artist.bio }})</li>
        <form method="get" action="{% url 'pdf' %}">
          {% csrf_token %}
          <input type="hidden" name="type" value="artist" />
          <input type="hidden" name="id" value="{{ artist.id }}" />
          <button type="submit">Download PDF</button>
          {% if user.is_superuser_or_customer_service %}
            <p>
              <a href="{% url 'modify_artist' %}">Bearbeiten</a>
            </p>
          {% endif %}
        </form>
      {% empty %}
        <li>Keine Künstler gefunden.</li>
      {% endfor %}
    </ul>

    <h2>Alben</h2>
    <ul>
      {% for album in albums %}
        <li>{{ album.title }} von {{ album.artist.name }}</li>
        <form method="get" action="{% url 'pdf' %}">
          {% csrf_token %}
          <input type="hidden" name="type" value="album" />
          <input type="hidden" name="id" value="{{ album.id }}" />
          <button type="submit">Download PDF</button>
          {% if user.is_superuser_or_customer_service %}
            <p>
              <a href="{% url 'modify_album' %}">Bearbeiten</a>
            </p>
          {% endif %}
        </form>
      {% empty %}
        <li>Keine Alben gefunden.</li>
      {% endfor %}
    </ul>

    <h2>Tracks</h2>
    <ul>
      {% for track in tracks %}
        <li>{{ track.title }} (Album: {{ track.album.title }})</li>
        <form method="get" action="{% url 'pdf' %}">
          {% csrf_token %}
          <input type="hidden" name="type" value="track" />
          <input type="hidden" name="id" value="{{ track.id }}" />
          <button type="submit">Download PDF</button>
          {% if user.is_superuser_or_customer_service %}
            <p>
              <a href="{% url 'modify_track' %}">Bearbeiten</a>
            </p>
          {% endif %}
        </form>
      {% empty %}
        <li>Keine Tracks gefunden.</li>
      {% endfor %}
    </ul>
    <p>
      <a href="{% url 'home' %}">Zurück zum Dashboard</a>
    </p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">logout</button>
    </form>
  {% else %}
    <p>Keine Ergebnisse gefunden.</p>
  {% endif %}
{% endblock %}
