{% extends 'home.html' %}
{% block title %}
  Artikelsuche
{% endblock %}

{% block content %}
  <h1>Suchergebnisse für "{{ query }}"</h1>
  {% if artists or albums or tracks %}
    <h2>Künstler</h2>
    <ul>
      {% for artist in artists %}
        <li>{{ artist.name }} ({{ artist.genre }})</li>
        <form method="get" action="{% url 'pdf' %}">
          {% csrf_token %}
          <input type="hidden" name="type" value="artist" />
          <input type="hidden" name="id" value="{{ artist.id }}" />
          <button type="submit">Download PDF</button>
        </form>
      {% empty %}
        <li>Keine Künstler gefunden.</li>
      {% endfor %}
    </ul>

    <h2>Alben</h2>
    <ul>
      {% for album in albums %}
        <li>
			{{ album.title }} - {{ album.artist.name }}
			<small>Average Rating: {{ album.average_rating|floatformat:1 }} ⭐</small>
			| <a href="{% url 'rate_album' album.id %}">Rate this album</a>
		</li>
        <form method="get" action="{% url 'pdf' %}">
          {% csrf_token %}
          <input type="hidden" name="type" value="album" />
          <input type="hidden" name="id" value="{{ album.id }}" />
          <button type="submit">Download PDF</button>
        </form>
      {% empty %}
        <li>Keine Alben gefunden.</li>
      {% endfor %}
    </ul>

    <h2>Tracks</h2>
    <ul>
      {% for track in tracks %}
        <li>{{ track.title }} (Album: {{ track.album.title }})</li>
        <form method="get" action="{% url 'pdf' %}">
          {% csrf_token %}
          <input type="hidden" name="type" value="track" />
          <input type="hidden" name="id" value="{{ track.id }}" />
          <button type="submit">Download PDF</button>
        </form>
      {% empty %}
        <li>Keine Tracks gefunden.</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Keine Ergebnisse gefunden.</p>
  {% endif %}
{% endblock %}
