<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Pywebshop</title>
    <link rel="stylesheet" href="{% static '../../static/dist/base.css' %}" />
  </head>

  <body class="bg-indigo-500">
    <h1 class="text-center text-5xl font-bold">Welcome to Pywebshop</h1>
    <div>
      <p class="text-center font-bold pt-20">These are our artists:</p>
      <div class="border-4 border-gray-400 rounded-lg overflow-hidden w-[700px] mx-auto bg-indigo-400">
        <div id="carousel" class="overflow-x-auto flex snap-x scroll-smooth space-x-4 p-4 scrollbar-thin scrollbar-track-indigo-400 scrollbar-thumb-indigo-600">
          {% for artist in artists %}
            <div class="snap-center flex-shrink-0 w-64 h-40 bg-cyan-500 rounded-lg flex items-center justify-center text-center">
              <p class="">{{ artist.name }} - {{ artist.genre }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <p class="text-center font-bold pt-20">These are our albums:</p>
    <p>
      <div class="border-4 border-gray-400 rounded-lg overflow-hidden w-[700px] mx-auto bg-indigo-400">
        <div id="carousel" class="overflow-x-auto flex snap-x scroll-smooth space-x-4 p-4">
          {% for album in albums %}
            <div class="snap-center flex-shrink-0 w-64 h-40 bg-cyan-500 rounded-lg flex items-center justify-center text-center">
              <p>{{ album.title }} - {{ album.artist }}</p>
              <small>Average Rating: {{ album.average_rating|floatformat:1 }} ⭐</small>
				| <a href="{% url 'rate_album' album.id %}">Rate this album</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </p>
    <p class="text-center font-bold pt-20">These are our tracks:</p>
    <p>
      <div class="border-4 border-gray-400 rounded-lg overflow-hidden w-[700px] mx-auto bg-indigo-400">
        <div id="carousel" class="overflow-x-auto flex snap-x scroll-smooth space-x-4 p-4">
          {% for track in tracks %}
            <div class="snap-center flex-shrink-0 w-64 h-40 bg-cyan-500 rounded-lg flex items-center justify-center text-center">
              <p>{{ track.title }} - {{ track.album }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </p>
    <p class="text-center mt-20">
      Visit <a href="/admin/" class="hover:text-indigo-300 active:text-indigo-700 underline decoration-2">the admin panel</a> to get started.
    </p>
	<p class="text-center"><a href="/useradmin/login">Login here</a></p>
	<p class="text-center">Not registered yet? <a href="/useradmin/signup">Signup here</a></p>
  </body>
</html>
