{% extends 'home.html' %}
{% load static %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
<h2>Shopping cart</h2>
    {% if shopping_cart_is_empty %}
        Your shopping cart is empty.<br>
    {% else %}
        {% for item in shopping_cart_items %}
            {% comment %} {{ item.product_name }}<br>
            <form method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" name="remove_item_id" value="{{ item.id }}">-</button>
            </form> {% endcomment %}
            {{ item.price }} € x {{ item.quantity }}
            {% comment %} <form method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" name="add_item_id" value="{{ item.id }}">+</button>
            </form> {% endcomment %}
            <br>
        {% endfor %}

        Total amount: {{ total }} €

        <br><br>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="empty">Empty the shopping cart</button><br>
            <button type="submit" name="pay">Pay with credit card</button>
        </form>
    {% endif %}
    <br>
        <a href="{% url 'home' %}">Return to browsing music!</a>
{% endblock %}